<!DOCTYPE html>
<html>
  <head>
    
    <!-- Required meta tags -->
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  
  </head>
  <body>
    <header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm fixed-top">
      <p class="h5 my-0 me-md-auto fw-normal londrina"> <img class="batman" src="../images/batman.svg" alt="">Ticketac</p>
      <nav class="my-2 my-md-0 me-md-3">
        
        <a class="p-2 londrina" style="text-decoration: none; color: rgb(236, 45, 45);" href="/users/logout">Deconnection</a>
        
      </nav>
      
    </header>
    
    
    
    <div class="home">


      <ul class="list-group list-group-flush ">

    <p>     Your trips history: </p>

        <%for(let i = 0; i < user.destinations.length; i++){%>
         
           <li class="list-group-item  ">
               <div class="d-flex justify-content-between"> 
                 <div class="mx-3 ">#<%=[i+1]%></div>
                 <div class="mx-1 fw-bold"><%=user.destinations[i].departure%>/<%=user.destinations[i].arrival%></div>
                 <div class="mx-1">train departure at: <%=user.destinations[i].departureTime%></div>
                 <div class="d-flex">
                   <div class="mx-1 fw-bold"><%=user.destinations[i].price%>€</div>
                   
                 </div>
             </div>
           </li>
   <%}%>
   <div class="d-flex justify-content-between m-5">
    <a href="/" class="btn btn-warning">HOME</a>
    <a href="/delete-all" class="btn btn-danger">DELETE ALL</a>

  </div>

      </ul>


        

    </div>





  
    <%- include('footer'); %>

    <!-- Bootstrap CSS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  </body>

</html>
