<!DOCTYPE html>
<html>
  <head>
    
    <!-- Required meta tags -->
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  
  </head>
  <body>
    <%- include('header'); %>
<div class="home">

    <div>
      <p class="londrina">My Chosen Tickets: <%=finalDate%></p>
      <ul class="list-group list-group-flush ">

      

     <%for(let i = 0; i < destinations.length; i++){%>
      
        <li class="list-group-item  ">
            <div class="d-flex justify-content-between"> 
              <div class="mx-3 ">#<%=[i+1]%></div>
              <div class="mx-1 fw-bold"><%=destinations[i].departure%>/<%=destinations[i].arrival%></div>
              <div class="mx-1">train departure at: <%=destinations[i].departureTime%></div>
              <div class="d-flex">
                <div class="mx-1 fw-bold"><%=destinations[i].price%>€</div>
              </div>
          <a href="/delete?index=<%=[i]%>&price=<%=destinations[i].price%>" type="button" class="btn btn-outline-danger btn-sm">Delete</a>
          </div>
        </li>
<%}%>
<li class="list-group-item list-group-item-danger border">
  <div class="d-flex justify-content-between"> 
    <div class="mx-1 fw-bold">TOTAL: </div>
    <div class="mx-1"></div>
    <div class="d-flex">
      <div class="mx-1 fw-bold"><%=total%>€</div>
    </div>
</div>
</li>
</ul>
<div class="d-grid mt-3  justify-content-md-end">

<!-- Button trigger modal -->
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Confirm
</button>

<!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirm Payment ?</h5>
        </div>
        <%for(let i = 0; i < destinations.length; i++){%>
      
          <li class="list-group-item  ">
              <div class="d-flex justify-content-between"> 
                <div class="mx-3 ">#<%=[i+1]%></div>
                <div class="mx-1 fw-bold"><%=destinations[i].departure%>/<%=destinations[i].arrival%></div>
                <div class="mx-1">train departure at: <%=destinations[i].departureTime%></div>
                <div class="d-flex">
                  <div class="mx-1 fw-bold"><%=destinations[i].price%>€</div>
                </div>
            </div>
          </li>
  <%}%>
              <li class="list-group-item list-group-item-danger border">
                <div class="d-flex justify-content-between"> 
                  <div class="mx-1 fw-bold">TOTAL: </div>
                  <div class="mx-1"></div>
                  <div class="d-flex">
                    <div class="mx-1 fw-bold"><%=total%>€</div>
                  </div>
              </div>
              </li>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a href="/confirm" type="button" class="btn btn-danger">Confirm</a>
        </div>
      </div>
    </div>
  </div>


</div>
  </div>

</div>  




<%- include('footer'); %>

    <!-- Bootstrap CSS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  </body>

</html>
